[Desktop Entry]
Name = Blockbench
Comment = Low-poly modeling and animation software
Terminal = false
Categories=3DGraphics;
StartupWMClass=Blockbench
